<div class="comment-content">
  <a href="#"><strong><%= comment.user.username %></strong></a>
  <span><%= comment.content %></span>
  <%#= link_to "x", photo_comment_path(comment), method: :delete  %>
</div>
