<div class="sidebar">
  <ul>
    <li><a href="#"><i class="fa fa-desktop"></i><span>Desktop</span></a></li>
    <li><a href="#"><i class="fa fa-server"></i><span>Users</span></a></li>
    <li><a href="#"><i class="fa fa-calendar"></i><span>Comment</span></a></li>
    <li><a href="#"><i class="fa fa-envelope-o"></i><span>Images</span></a></li>
    <li><a href="#"><i class="fa fa-table"></i><span></span></a></li>
</div>
<div class="main">
  <div class="hipsum">
    <div class="row">
    </div>
  </div>
</div>