<li class="notify-block">
  <div class="row">
    <div class="col-md-2 notify-sender">
      <%= image_tag notify.sender.avatar %>
    </div>
    <div class="col-md-8 notify-content">
      <% like = Like.find_by id: notify.entity_id %>
      <strong><%= notify.sender.username %></strong>
      liked your photo.
    </div>
    <div class="col-md-2 notify-owner">
      <% if like %>
        <%= image_tag like.photo.image, class:"image-owner"  %>
      <% end %>
    </div>
  </div>
</li>
