<% notifications.each do |notify| %>
  <%= render_notify_block notify %>
<% end %>

<!-- <li class="notify-block">
  <div class="row">
    <div class="col-md-2 notify-sender">
      <img src="http://livitrans.com/upload/images/news/avatar.png">
    </div>
    <div class="col-md-7 notify-content">Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text</div>
    <div class="col-md-2 notify-owner"><button class="btn-following pull-right">Follow</button></div>
  </div>
</li> -->

