# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 65a31dc534356b7cb8a161535a0a1d4f8cc9320e3e3fb3b18f72bdffc19f9bcdc617c3323de5fbe271c7c60e0b825a6262cede8fff985bbae05f5445fa4120f2

test:
  secret_key_base: 2cff0321c174cd3dbad4df3419571b99a6bb7f69187db9418820825cd8f04857cdac723c406f5f291bc41ff128a942de79bf945ef5c304cb9f5ce4c4ace29a99

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
