$login-signup-form-border: #e6e6e6;
$bg-white: #fff;
$btn-login-facebook-border: #efefef;
$btn-login-facebook-color: #262626;
$input-login-outline: #333;
$btn-primary-bg: #3897f0;
$slogin-signup-color: #999;
$notify-message-color: #ea2828;
$bg-page: #fafafa;
$color-border-header: #bbb7b7;
$color-border-input: #dbdbdb;
$color-text-input: #262626;
$color-span-search-form: #a7a0a0;
