.right-div{
  height: 85px;
  width: 166% !important;
  border-radius: 5px;
  margin-left: -6%;
}
.post-header-margin {
  margin-bottom: 24%;
}
.image-upload {
  width: 55px !important;
  color: #000 !important;
  height: 35px !important;
  background-color: #ffffff !important;
  border-color: #cacaca !important;
  }

.post-comments{
  height: 183px;
}

.float-right {
  width: 163px;
  height: 101px;
}

.btn-post {
  margin-left: -6%;
}
