.right-div{
  height: 85px;
  width: 520px;
  border-radius: 5px;
  margin-left: -6%;
}

.image-upload {
  width: 50px !important;
  color: #000 !important;
  height: 35px !important;
  background-color: #ffffff !important;
  border-color: #cacaca !important;
  }

.post-comments{
  height: 183px;
}

.float-right {
  width: 137px;
  height: 88px;
}

.btn-post {
  margin-left: -6%;
}
