@import 'variables/color';

.notification-block {
  background: $bg-white;
  border: 1px solid #bbb;
  border-radius: 2px;
  display: none;
  left: -27px;
  max-height: 267px;
  min-height: 103px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 61px;
  width: 400px;

  ul {
    list-style-type: none;
    padding: 5px;

    .notify-block {
      padding: 5px;

      .notify-sender img {
        border-radius: 50%;
        border: 1px solid #bfbcbc;
        height: 36px;
        width: 36px;
      }

      .notify-content {
        border-bottom: 1px solid #e8e8e8;
        font-size: 14px;
        height: 43px;
        padding: 0 4px;
        line-height: 16px;
      }

      .notify-owner {
        margin-top: 6px;
        padding: 0;
        padding-left: 15px;

        button {
          border: 1px solid #ccc;
          border-radius: 3px;
          font-weight: bold;
          padding: 3px 6px;
          margin-right: -18px;
          margin-top: -5px;

          a {
            border: 0;
            font-size: 14px;
            margin-right: 0;
            padding-right: 0;
          }
        }

        .btn-following {
          background: #3aa9ea;
          color: $bg-white;
        }

        .btn-follow {
          background: $bg-white;
          color: #333;
        }

        .image-owner {
          width: 39px;
          margin-top: -11px;
          margin-right: -17px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .notification-block {
    left: -100px !important;
  }
}
