.search-user {
  margin-left: 9%;
  margin-top: 5%;
}

.avatar-search {
  width: 160px;
  height: 160px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
}

table tr th{
  height: 40px;
  width:123px;
}
table tr td{
  height: 40px;
  width:123px;
}

.image-search {
 width: 295px;
 height: 295px;
 margin-top:1%;
}

.btn-load-search {
  width:200px;
  margin-top:5%;
  margin-bottom:3%;
  font-style: bold;
  font-size: 16px !important;
}
