@import 'variables/color';

.login-signup-form {
  background: $bg-white;
  border: 1px solid $login-signup-form-border;
  margin: 20px 0;
  padding: 22px 0;
  text-align: center;

  input[type='email'],
  input[type='text'],
  input[type='password'],
  input[type='submit'] {
    -webkit-appearance: none;
    border: 1px solid $btn-login-facebook-border;
    border-radius: 3px;
    box-sizing: border-box;
    color: $btn-login-facebook-color;
    font-size: 14px;
    margin-bottom: 6px;
    padding: 9px 8px 7px;
    width: 80%;

    &:focus {
      border: 1px solid $input-login-outline;
      outline: 0;
    }
  }

  .btn-login-with-facebook {
    -webkit-appearance: none;
    border: 1px solid $btn-login-facebook-border;
    border-radius: 3px;
    box-sizing: border-box;
    color: $btn-login-facebook-color;
    font-size: 14px;
    margin-bottom: 6px;
    padding: 9px 8px 7px;
    width: 80%;

    &:focus {
      outline: 0;
    }
  }

  input[type='submit'],
  .btn-login-with-facebook {
    background: $btn-primary-bg;
    color: $bg-white;
    font-weight: bold;
  }

  input[type='checkbox'],
  label[for='user_remember_me'] {
    display: none;
  }

  .email-username-login {
    position: relative;
  }

  .forgot-password {
    position: absolute;
    right: 49px;
    top: 10px;
  }

  .slogin-signup {
    color: $slogin-signup-color;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
  }

  .sign-up-or {
    padding: 20px 37px;

    div {
      color: $slogin-signup-color;
      float: left;
      font-weight: bold;
      margin: 0 15px;
    }

    hr {
      float: left;
      margin-top: 7px;
      width: 41%;
    }
  }
}

.notify-message-devise {
  border: 1px solid $notify-message-color;
  color: $notify-message-color;
  margin-left: 36px;
  padding: 10px;
  text-align: left;
  width: 80%;
}

.new-feeds {
  .post {
    background: $bg-white;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-left: -1px;
    margin-right: -1px;
  }
}

.user-information {
  margin-top: 50px;

  .user-name {
    h1 {
      float: left;
      font-family: 'Roboto', sans-serif;
      font-size: 32px;
      font-weight: 200;
      line-height: 40px;
      margin-right: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .edit-profile {
      border: 1px solid #e4dede;
      border-radius: 2px;
      color: #333;
      display: block;
      float: left;
      margin-right: 10px;
      margin-top: 25px;
      padding: 5px 35px;
      text-decoration: none;
    }

    .control-account {
      border: 0;
      color: #333;
      display: block;
      float: left;
      font-size: 20px;
      margin-top: 27px;

      i:hover .menu-setting {
        display: block;
      }
    }

    .menu-setting {
      position: absolute;
      height: auto;
      top: 59px;
      left: 297px;
      width: 100px;
      text-align: center;
      border: 1px solid;
      display: none;
    }
  }

  .photos-infor {
    span {
      margin-right: 30px;
    }
  }

  .sologan {
    h3 {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.photo-of-user {
  .photo {
    background-color: #3ab796;
    height: 250px;
    position: relative;
    margin-bottom: 10px;
    width: 250px;

    &:hover .show-like-comment-photo{
      display: block;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .show-like-comment-photo {
      background: rgba(51, 51, 51, 0.58);
      color: white;
      display: none;
      font-size: 18px;
      font-weight: 700;
      height: 100%;
      padding-top: 43%;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 100;
    }
  }
}
.user-information {
  .avatar-user {
    position: relative;
    width: 155px;

    &:hover .show-icon-change-image{
      display: block;
      cursor: pointer;
    }

    img {
      width: 155px;
      height: 155px;
      border-radius: 50%;
    }

    .show-icon-change-image {
      background: rgba(51, 51, 51, 0.39);
      border: 0;
      border-radius: 50%;
      color: white;
      display: none;
      font-size: 35px;
      height: 100%;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
    }
  }

}

.question-select-change-avatar {
  ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 0;

    li {
      line-height: 50px;
      width: 100%;
    }
  }
}
